@font-face {
  font-family: 'Poppins Regular';
  src: url('../font/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Bold';
  src: url('../font/Poppins-SemiBold.ttf') format('truetype');
}

body {
  background-color: #eeeeee;
}

@media screen and (min-width: 768px) {
  .login {
    width: 50%;
  }
}