<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleLogin.css') }}">
  <title>Login | Tarjetas de Presentación</title>
</head>

<body>

  <main class="container">
    <article>
      <div class="login p-3 my-5 m-auto bg-white rounded">
        <div class="text-center">
          <img class="img-fluid w-50 mx-auto d-block" src="{{ url_for('static', filename='img/logo-fucs.png') }}" alt="">
        </div>
        <div class="py-2">
          <p>Debe proporcionar una nueva contraseña para acceder a la aplicación. La contraseña debe tener al menos 8 caracteres e incluir al menos una letra minúscula, una mayúscula y un carácter especial (por ejemplo, !, @, #, $, %, ^, &, *, (, )). Se recomienda utilizar una combinación de letras, números y caracteres especiales para mejorar la seguridad.</p>
        </div>
        <form method="POST" action="{{ url_for('change_password', user_id=user_id) }}">
          {{ form.hidden_tag() }}
          <div class="form-group pb-3">
              {{ form.new_password.label }} {{ form.new_password(class="form-control", minlength="8", pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" ) }}
          </div>
          <div class="form-group pb-3">
              {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
          </div>
          <div class="form-group">
              {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>      
      </div>
    </article>
  </main>
  <footer class="bg-dark text-white text-center fixed-bottom p-3">Tarjetas de presentacion | &copy; todos los derechos
    reservados | Desarrollado por la DDT</footer>

  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>