<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>{% block title %} {% endblock %} | Tarjetas de Presentación</title>
</head>

<body>

  <header>
    <div class="d-flex">
      <nav id="sidebarMenu" class="collapse d-md-block sidebar collapse">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <div class="pb-5 ">
              <a class="navbar-brand pb-5 text-nav" href="">
                <img class="img-fluid" src="{{ url_for('static', filename='img/LOGO-FUCS-fondo-Azul-Fundadores.png')}}" alt="logo-fucs">
              </a>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('index') }}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('register') }}">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href=""></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid container-desktop">
        <nav class="navbar navbar-expand-lg menu-bg text-white">
          <div class="container-fluid px-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <p class="px-3 pt-3 fw-bold nombre-usuario">Nombre</p>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-md-none px-2">
                <li class="nav-item">
                  <a class="nav-link text-nav" href="{{ url_for('index') }}"><i class="bi bi-house-door"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-nav" href="{{ url_for('register') }}"><i class="bi bi-check2-square"></i> Usuarios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-nav" href=""><i class="bi bi-book"></i> Programas</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-2">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle menu-bg" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Menú
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end menu-bg-drop">
                    <li><a class="dropdown-item menu-bg-drop" href="">Cambiar contraseña</a></li>
                    <li><a class="dropdown-item menu-bg-drop" href="">Cerrar Sesión</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  </header>

  <main>
    <section>
      <div class="bg-white rounded m-md-2">
        <div class="p-3">
          {% block content %}

          {% endblock %}
        </div>
      </div>
    </section>
  </main>

  <footer>Tarjetas de presentacion | &copy; todos los derechos reservados | Desarrollado por la DDT</footer>

  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>